@keyframes simplefade {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes titletotop {
    0% {margin-top:30vh;font-size:8vh;}
    100% {margin-top:5vh;font-size:4vh;}
}
@keyframes textotop {
    0% {margin-top:100vh;opacity:0;}
    100% {margin-top:0;opacity:1;}
}
@keyframes underline {
    0% {width: 0px; margin-left: 0px;}
    100% {width:240px;margin-left:-120px;}
}
@font-face {
    font-family: courgette;
    src: url(../fonts/courgette.ttf);
}
@font-face {
    font-family: robotoBold;
    src: url(../fonts/roboto-bold.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../fonts/roboto-light.ttf);
}
body {
    overflow-x: hidden;
    background-color:#FFF;
}
.title {
    text-align:center;
    font-family: robotoBold;
}
#holder {
    width:100vw;
    position:relative;
    display:inline-block;
    margin-top:30vh;
    text-align: center;
    font-size:8vh;
    animation: titletotop 1s ease 1s forwards;
}
#holder:after {
    position:absolute;
    display:inline-block;
    bottom:3vh;
    width: 0px;
    height:4px;
    content: '';
    background-color: black;
    animation: underline 3s ease-out 2s forwards;
}
#data { 
    padding:15px;
    position:absolute;
    left:20vw; 
    right:20vw;
    opacity:0;
    animation: textotop 1s ease 1s forwards;
}
#data p{
    font-size:0.7cm;
    line-height:1.4;
    font-family:roboto;
}
#data h2 {
    font-family:robotoBold;
    font-size:0.9cm;
    line-height:1.4;
}
.logo {
    position:absolute;
    width:5vw;
    top:20px;
    left:20px;
    opacity :0;
    animation: simplefade 1s ease 1s forwards;
    border: 2px red;
}
a.logo {
    z-index:100;
}
#footer {
    font-family: roboto;
    bottom:0px;
    width:100%;
    text-align: center;
}
