@font-face {
    font-family: robotoBold;
    src: url(../fonts/roboto-bold.ttf);
}
@font-face {
    font-family: robotoThin;
    src: url(../fonts/roboto-thin.ttf);
}
@keyframes gototop {
    0% {top:100%}
    100%{top:10%}
}
@keyframes gototop2 {
    0% {top:100%}
    100%{top:25%}
}
@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}
#bar {
	text-align:center;
    position:absolute;
    top:10%;
    left:0;
    width: 100%;
    background-color:white;
    animation-name: fadein, gototop;
    animation-duration: 3s;
}
body {
    height:100vh;
	background: url(images/bg.jpg) no-repeat center center fixed;
    overflow:hidden;
    background-size: cover;
}
center {
    padding:30px;
}
.main-title {
    margin: 10px 0 10px;
    font-family: robotoBold;
    font-size:5vw;
	background: url(images/bg.jpg);
    background-position:20% 30%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	color:red;	
}
.desc {
    font-size: 1em;
    font-family: robotoThin; 
}
@media screen and (min-width:2000px) {
    .main-title {
        font-size:100px; 
    }
}
@media screen and (max-device-width:25cm) {
    .main-title {
        font-size:10vw; 
    }
    .desc {
        font-size:2em;
    }
/*    .link {
        border: 6px #FFF solid;
        height:160px; 
        width: 160px;
        border-radius: 160px;
    }
    .link:hover {
        border: 6px #FFF solid;
        display: inline-block;
        height:200px; 
        width: 200px;
        border-radius: 200px;
    }
    .link img {
        max-height:100px;
    }
    .link:hover img {
        max-height:125px;
    }*/
}
#links {
    opacity:0;
    position:absolute;
    left:0;
    top:60%;
    animation: fadein 3s ease 3s forwards;
    width:100%;
}
.link {
    border: 3px #FFF solid;
    display: inline-block;
    height:80px; 
    width: 80px;
    border-radius: 80px;
    transition: all 0.2s ease-out;
}
.link:hover {
    border: 3px #FFF solid;
    display: inline-block;
    height:100px; 
    width: 100px;
    border-radius: 100px;
    background: rgba(255,255,255,0.6);
    transition: all 0.2s ease-in;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.link img {
    max-height:50px;
    vertical-align: middle;
    transition: all 0.2s ease-out;
}
.link:hover img {
    max-height:62.5px;
    vertical-align: middle;
    transition: all 0.2s ease-in;
}
