@font-face {
    font-family: robotoLight;
    src: url(../fonts/roboto-light.ttf);
}
@font-face {
    font-family: robotoThin;
    src: url(../fonts/roboto-thin.ttf);
}
@keyframes gototop {
    0% {top:100%}
    100%{top:10%}
}
@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes bgscroll {
    0% {background:white;}
    100% {background:#16a085 url("../images/bg.jpg") bottom left;}
}
#bar {
    position:absolute;
    top:10%;
    left:0;
    width: 100%;
    background-color:white;
    animation-name: fadein, gototop;
    animation-duration: 3s;
}
body {
    overflow:hidden;
    min-height:100%;
    background: url("images/bg.jpg") no-repeat center center fixed;
    background-size: cover; 
}
center {
    padding:30px;
}
.main-title {
    margin: 10px 0 10px;
    font-family: robotoLight;
    color:black;
    font-size:5vw;
}
.desc {
    font-family: robotoThin; 
}
@media screen and (min-width:2000px) {
    .main-title {
        font-size:100px; 
    }
}
#links {
    opacity:0;
    position:absolute;
    left:0;
    top:60%;
    animation: fadein 3s ease 3s forwards;
    width:100%;
}
.link {
    border: 0.3vw #FFF solid;
    display: inline-block;
    height:8vw; 
    width: 8vw;
    border-radius: 8vw;
    transition: all 0.2s ease-out;
}
.link:hover {
    border: 0.3vw #FFF solid;
    display: inline-block;
    height:10vw; 
    width: 10vw;
    border-radius: 10vw;
    background: rgba(255,255,255,0.6);
    transition: all 0.2s ease-in;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.link img {
    max-height:5vw;
    vertical-align: middle;
    transition: all 0.2s ease-out;
}
.link:hover img {
    max-height:6.25vw;
    vertical-align: middle;
    transition: all 0.2s ease-in;
}

